name: Build
on:
  push:
    branches: [main]
  pull_request:
    branches: [main]
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: Enable Corepack before setting up Node
        run: corepack enable
      - name: Setup NodeJS
        uses: actions/setup-node@v2
        with:
          node-version: "20"
          cache: "yarn"
      - name: Install dependencies
        run: yarn install
      - name: Build Docs
        run: yarn docs:build
  spellcheck:
    runs-on: ubuntu-latest
    steps:
    - name: Markdown Spellcheck 
      uses: rojopolis/spellcheck-github-actions@0.41.0
            
